
								body {
									margin: 0; padding: 1rem;
									font-family: sans-serif;
									background: #fafafa;
								}

								.galeria {
									column-count: 4;          /* Número de columnas */
									column-gap: 1rem;         /* Separación entre columnas */
								}

								/* Ajuste para pantallas pequeñas */
								@media (max-width: 1200px) {
									.galeria {
									column-count: 2;
									}
								}

								@media (max-width: 500px) {
									.galeria {
									column-count: 1;
									}
								}

								.galeria img {
									width: 100%;
									margin-bottom: 1rem;
									border-radius: 8px;
									display: block;
									/* Evitar que las imágenes se rompan entre columnas */
									break-inside: avoid;
								}
		